<div class="formHeader">
     <%= link_to 'New Ingredient', new_ingredient_path, :class => 'btn btn-large btn-success' %>
 </div>
<div class="page-header">
        <h1>Ingredients <small>what do you need???</small>
        </h1>
     </div>

    <% @ingredients.each do |i| %>
      <div class="hero-unit-i">
         
        <p></p>

        <h2 class="heading"><%= i.name %> <small>
        <%= i.amount %> <%= i.unit %> </small></h2>
        <div class="btns"> <%=  link_to 'Update', edit_ingredient_path(i), :class => 'btn btn-primary btn-large' %> 
         <%= link_to 'Delete', i, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
      </div>
      </div>
      <% end %>

    </div>
  </div>
