<div class="formHeader">
     <%= link_to 'New Kitchen', new_kitchen_path, :class => 'btn btn-large btn-success' %>
 </div>
 
<div class="page-header">
        <h1>Kitchens <small>allow you to collect favorite recipes!</small>
          <p><%= link_to 'Click here to create a new kitchen.', new_kitchen_path %>
        </h1>
     
     </div>

    <% @kitchens.each do |k| %>
      <div class="hero-unit-k">
         
        <p></p>

        <h2 class="heading"><%= k.name %></h2>

        <div class="btns"> <%=  link_to 'Show Recipes', k, :class => 'btn btn-primary btn-large' %> <%=  link_to 'Add Recipes', recipes_path, :class => 'btn btn-primary btn-large btn-1' %>
        </div>
      </div>
      <% end %>

    </div>
  </div>


