<!DOCTYPE html>
<html> 
<!-- head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<title>DinnerTyme</title>
	<%= stylesheet_link_tag "application", :media => "all" %> 
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>  -->

<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Limelight%7CFlamenco%7CFedero%7CYesteryear%7CJosefin+Sans%7CSpinnaker%7CSansita+One%7CHandlee%7CDroid+Sans%7COswald:400,300,700"
    media="screen" rel="stylesheet" type="text/css" />
    <link href="assets/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="assets/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css"
    />
    <link href="fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="style.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans
    for details. <script type="text/javascript" src="//use.typekit.net/YOUR-KIT-ID.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    -->
    <title>DinnerTyme</title>
	    <%= stylesheet_link_tag "application", :media => "all" %> 
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
  </head>

<body>

   <div id="page-wrapper">
    <div class="navbar">
        <div class="navbar-inner"> <%= link_to 'DinnerTyme', root_path, :class => 'brand' %></a> 
          <ul class="nav">
            <li><%= link_to 'Kitchens', kitchens_path, :class => 'a-2' %> </li>
            <li><%= link_to 'Ingredients', ingredients_path, :class => 'a-2' %></li>
            <li><%= link_to 'Recipes', recipes_path, :class => 'a-2' %></li>
          </ul>
        </div>
      </div>
      <img class="image " <%=image_tag('image.jpg') %> />

  
 
    <%= yield %> 
  </div> 

	</div> 
</body>
</html>